<div class="page-header">
  <h1>
    <a href="<%= prefix_url(repo.param) %>"><%= repo.name %></a>
    <small><%= repo.description.split("\n").first %></small>
  </h1>
  <div class="muted clone-hint">
    <code id="js-clone-url1">git clone <strong><%= repo.ssh_url %></strong></code>
    <span style="margin: 0 10px;">or</span>
    <code id="js-clone-url2">git remote add origin <strong><%= repo.ssh_url %></strong></code>
  </div>
</div>
